body {

    background: url(sll.jpg) no-repeat ;
     

    
    }
#okvir{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}
#vrh{
    width: 1000px;
    height: 80px;
    
    background: url(UZ.jpg) repeat-x center
}
#sredina{
    width: 1000px;
    border: 1px solid black;
    background-color:aqua;
}
#futer{
    width: 1000px;
    height: 30px;
    border: 1px solid black;
}
#logo{
    width: 105px;
    height: 80px;
    
    float: left;
    background: url(C.png) no-repeat 0 ;
    background-color: darkblue;
    background-position-x: 50%
    
}
#logovanje{
    width: 255px;
    height: 58px;
    
    float: right;
    color:darkblue;
    text-align: right;
}
#meni{
    float: left;
    width: 150px;
    height: 250px;
    
}
#sadržaj{
    width: 600px;
    
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue
    
}
#baneri{
    width: 220px;
    height: 200px;
    float: right;
    
    
}
.baner{
    width: 180px;
    height: 98px;
    
}
#čistač{
    clear: both;
}
#logovanje input[type=text]{
    background-color:darkblue;
    color:lightblue;
}
#logovanje input[type=submit]{
    background-color:darkblue;
    color: lightblue;
    border-radius: 20px;
}
    #naslov{
        text-align: center;
        width: 600px;
        float: left;
        padding-top: 25px;
        font-family: "Papyrus",fantasy,serif;
        font-size: 35px;
        font-variant: small-caps;
        font-style: normal;
        color:lightblue;
        text-shadow: 1px 1px 2px red, 0 0 25px
        blueviolet, 0 0 5px blueviolet;

    }
    #meni ul.navigacija {
        margin: 5px;
       padding: 0;}
       #meni ul.navigacija li { 
           list-style-type: none;
       padding:10px;
   }
       #meni ul.navigacija li a {
           color: #000333;
       font-size: 18px;
       text-decoration: none;}


#meni ul.navigacija li a:hover {

color:white;
background-color:blue;

}
#podnozje {
    width:1000px;
    height: 30px;
    background: linear-gradient(to bottom, #e5e5e5 0%,#006e99 0%,#e5e5e5 46%,#e5e5e5 46%,#0027a85b 99%);
    text-align: center;
}