@font-face{
    font-family:'Merienda', cursive;
    src: url(Merienda-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  } 
  body{
      font-family: 'Merienda', cursive;
  }
  header.wrapper, section.wrapper{
  margin: 0 auto;
  width: 100%;
  background-color: #f0bded;
      
  }
  
  .header {
  
    background-color: rgba(252, 246, 214, 0.904);
    color: rgb(252, 87, 238);
    padding: 10px;
    background-image: url(pariz1.jpg);

    
    
  }
nav{
    float: right;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

} 
nav ul li{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding-top: 36px;
    margin-right: 102px
}
nav ul li a {
    text-decoration: none;
    color:#ff15a5;
    font-family:'Merienda', cursive;;

}
nav ul li a:hover{
    color: #70888a;
    border-bottom: 1px solid #70888a;

}
li :last-child{
    margin-right: 20px;
}

.naslov{
    text-align: center;
    font-family:'Merienda', cursive;;
    font-size: 40px;
    color: #f549b3;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    background-color: hsl(7, 96%, 81%);
    
}

#cover{
    width: 20%;
    padding-left: 12%;
}
.iskustva{
    padding: 20px 0 0 0;
    background: linear-gradient(to bottom, #ebe0e8 0%,#f0bded 0%,#f899f8 46%,rgb(243, 173, 226) 30%,#f0c6e7e5 99%);
    color: hsl(6, 97%, 57%);
    
}
.iskustva p{
    text-align: center;
    font-family: 'Merienda', cursive;;
    color: #f549b3;
    font-size: 40px;
    font-weight: bold;
}
.is{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    border: 2px solid rgb(229, 153, 210);
    border-radius: 20px;
    margin-top: 3px;
    
}
.is p {
    font-size: 30px;
}
.fo{
    padding: 25px 0 0 0;
}
#forma2{
  font-size: 20px;
}
.is a{
    color: #70888a;
    font-size: 12px;
    font-family: 'Merienda', cursive;;
    display: block;
    text-align: center;
}
form{
    width: 50%;
    margin: 0 auto;
}
#submit{
    margin: 10px 10px 10px 0;
    padding: 5px;
    text-transform: uppercase;
}
#submit:hover{
    background-color: rgb(207, 36, 223);
}
.footer {
    height: 75px;
    background-color: rgba(247, 163, 240, 0.8);
    
    color: #f56f6f;
    text-align: center;
    font-size: 16px;
    padding: bottom;
    
  }


/* za mobilne telefone: */
 [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* za tablet: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* za desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }