@font-face{
    font-family:'Merienda', cursive;
    src: url(Merienda-Regular.ttf);
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: 'Merienda', cursive;
    background-color: #f4f8b9;
   
  }
  
  .header {
  
    background-color: rgba(247, 245, 131, 0.904);
    color: rgb(252, 87, 238);
    padding: 10px;
    background-image: url(pariz1.jpg);
  }
 .header img{
   width: 5%;
   height: 5%;
 }
  nav{
    float: right;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

} 
nav ul li{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding-top: 36px;
    margin-right: 102px
}
nav ul li a {
    text-decoration: none;
    color:#f549b3;
    font-family: 'Merienda', cursive;
}
nav ul li a:hover{
    color: #70888a;
    border-bottom: 1px solid #70888a;

}
li :last-child{
    margin-right: 20px;

}
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #f549b3;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #ecf753;
  }
  .posetite{
    color: #f549b3;
    font-size: 15px;
    text-align: center;
  }
  .posetite span{
    font-weight: bold;
  }
  a{
    color: #a30cfa;
    font-size: 110x;
  }

  .video{
    padding: 20px;
  }
  h1{color: #f549b3;
    text-align: center;
    }

    .opis{ font-size: 18px;
           text-align: justify; 
           color:rgb(248, 18, 18)  
             
    }
    .slika{
      width: 300px;
      height: 200px;
    }
     .slika {
      width: 230px;
      padding: 5px;
      filter: grayscale(70%);
      transition: 1s;
  }
   .slika:hover{
      filter: grayscale(0);
      transform: (1,1);
  }
  
  .aside {
    background-color: rgba(236, 247, 83,0.8);
    padding: 15px;
    color: #f549b3;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .audio{
    color: #f549b3;
  }
  
  .footer {
    height: 60px;
    background-color: rgba(237, 247, 104, 0.8);
    
    color: #f56f6f;
    text-align: center;
    font-size: 12px;
    padding: bottom;
    
  }
  
  /* za mobilne telefone: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* za tablet: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* za desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }